<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
     <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  

   <ion-list >
    <ion-item-sliding *ngFor="let pueblerino of datos" >
      
      <ion-item >
        <ion-avatar slot="end">
          <img src={{pueblerino.fotourl}}>      
             </ion-avatar>
       <ion-label >
          <h2>Nombre Completo:</h2>
          <h2>{{pueblerino.NomPueblerino}}</h2>
         </ion-label>
       </ion-item>

       <ion-item >
       <ion-label>
        <h2>Correo Electronico:</h2>
        <h2>{{pueblerino.Email}}</h2>
       </ion-label>
     </ion-item>

     <ion-item>
      <ion-label>
       <h2>Tipo se Usuario:</h2>
       <h2>{{pueblerino.TipoUsuario}}</h2>
       
      </ion-label>
    </ion-item>

 </ion-item-sliding>
  </ion-list>
</ion-content>
