<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vistafestival"></ion-back-button>
    </ion-buttons>
     <ion-title>Festival</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <form #formulario="ngForm">
    
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" placeholder="Titulo" name="Titulo" [(ngModel)]="Festival.Titulo" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion" name="Descripcion" [(ngModel)]="Festival.Descripcion" 
       required ></ion-input>
    </ion-item>
    

    <ion-item>
  <ion-label>Fecha: </ion-label>
  <ion-input type="date" placeholder="Fecha" name="Fecha" [(ngModel)]="Festival.Fecha" 
 required ></ion-input>
</ion-item>


<ion-item>
  <ion-label>Categoria</ion-label>
  <ion-select name="Lugar" [(ngModel)]="Festival.Lugar">
    <ion-select-option  value="Gastronomia">Gastronomia</ion-select-option>
    <ion-select-option value="Mecanico">Mecanico</ion-select-option>
    <ion-select-option value="Hospedaje">Hospedaje</ion-select-option>
    <ion-select-option value="Artesanias">Artesanias</ion-select-option>
    <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label>Organizador: </ion-label>
  <ion-input type="text" placeholder="Organizador" name="Organizador" [(ngModel)]="Festival.Organizador" 
   required ></ion-input>
</ion-item>






<ion-button [disabled]="formulario.invalid"  expand="block" (click)="ModificarFestival(); formulario.reset()">Registrar</ion-button>

</form >

</ion-content>

