<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vistaanuncio"></ion-back-button>
    </ion-buttons>
     <ion-title>Modificar Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <form #formulario="ngForm">

    <ion-item>
      <ion-label>Nombre del Negocio: </ion-label>
      <ion-input type="text" placeholder="Negocio" name="Negocio" [(ngModel)]="Anuncio.Negocio" 
     required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Titulo: </ion-label>
      <ion-input type="text" placeholder="titulo" name="titulo" [(ngModel)]="Anuncio.titulo" 
     required ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion Oferta" name="DescripcionOferta" [(ngModel)]="Anuncio.DescripcionOferta" 
       required ></ion-input>
    </ion-item>
    

    <ion-item>
  <ion-label>Precio: </ion-label>
  <ion-input type="number" placeholder="Precio $" name="Precio" [(ngModel)]="Anuncio.Precio" 
 required ></ion-input>
</ion-item>





<ion-button [disabled]="formulario.invalid"  expand="block" (click)="ModificarAnuncio(); formulario.reset()">Registrar</ion-button>
  </form >


</ion-content>
