<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Negocios Registrados</ion-title>

   
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

<ion-title>Selecciona tu Negocio Registrado</ion-title>
 
  <ion-slides>
      <ion-slide>

        <ion-card color="primary" [routerLink]="['/vistagastronomia',argumento]">
            <ion-card-header>
            <ion-card-title>Gastronomia</ion-card-title>
             </ion-card-header>
             <ion-card-content>
             
               <img src="../../assets/gastronimia.jpg"/>
              </ion-card-content>
          </ion-card>

 </ion-slide>
      <ion-slide>
        <ion-card color="primary" [routerLink]="['/vistahospedaje',argumento]">
          <ion-card-header>
          <ion-card-title>Hospedaje</ion-card-title>
           </ion-card-header>
           <ion-card-content>
            
             <img src="../../assets/hospedaje.jpeg">

            </ion-card-content>
        </ion-card>

      </ion-slide>

      <ion-slide>
        <ion-card color="primary" [routerLink]="['/vistaartesanias',argumento]">
          <ion-card-header>
          <ion-card-title>Artesanias </ion-card-title>
           </ion-card-header>
           <ion-card-content>
             
             <img src="../../assets/artesanias.jpg"/>
            </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card color="primary" [routerLink]="['/vistaabarrotes',argumento]">
          <ion-card-header>
          <ion-card-title>Abarrotes</ion-card-title>
           </ion-card-header>
           <ion-card-content>
            
             <img src="../../assets/abarrotes.jpeg"/>
            </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card color="primary" [routerLink]="['/vistamecanico',argumento]">
          <ion-card-header>
          <ion-card-title>Mecanico</ion-card-title>
           </ion-card-header>
           <ion-card-content>
           
             <img src="../../assets/serviciomecanico.jpg">
            </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card color="primary" [routerLink]="['/vistaevento',argumento]">
          <ion-card-header>
          <ion-card-title>Eventos</ion-card-title>
           </ion-card-header>
           <ion-card-content>
           
             <img src="../../assets/eventos.jpg">
            </ion-card-content>
        </ion-card>
      </ion-slide>
  </ion-slides>
</ion-content>