<ion-content class="fondo" >


 
 
  
  <form #formulario="ngForm">

    <ion-item >
      <ion-label>Nombre Completo</ion-label>
      <ion-input type="text" placeholder="Nombre" name="NomPueblerino" [(ngModel)]="pueblerino.NomPueblerino" 
       required ></ion-input>
    </ion-item>

  <ion-item >
      <ion-label  position="floating" > Correo electrónico </ion-label>
      <ion-input type="text" [(ngModel)]="pueblerino.Email" name="Email" required="true" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-label position="floating" > Contraseña </ion-label>
      <ion-input [(ngModel)]="pueblerino.Pwd" type="password" name="Pwd" minlength="5" required="true"></ion-input>
    </ion-item>


    <ion-item >
      <ion-label>Tipo Usuario</ion-label>
      <ion-select name="TipoUsuario" [(ngModel)]="pueblerino.TipoUsuario">
        <ion-select-option  value="Vendedor">Vendedor</ion-select-option>
        <ion-select-option value="Proveedor">Proveedor</ion-select-option>
      </ion-select>
    </ion-item>

    


<ion-item>
  <ion-label>Pueblo Magico</ion-label>
  <ion-select name="IdPuebloMagico" [(ngModel)]="pueblerino.IdPuebloMagico" value="Seleccionar" okText="Aceptar" cancelText="Cancelar">
<ion-select-option value="1">	   Aculco, Estado de México	</ion-select-option>
<ion-select-option value="2">	   Álamos, Sonora	</ion-select-option>
<ion-select-option value="3">	   Amealco de Bonfil, Querétaro	</ion-select-option>
<ion-select-option value="4">	   Aquismón, San Luis Potosí	</ion-select-option>
<ion-select-option value="5">	   Arteaga, Coahuila	</ion-select-option>
<ion-select-option value="6">	   Atlixco, Puebla	</ion-select-option>
<ion-select-option value="7">	   Bacalar, Quintana Roo	</ion-select-option>
<ion-select-option value="8">	   Batopilas, Chihuahua	</ion-select-option>
<ion-select-option value="9">	   Bernal, Querétaro	</ion-select-option>
<ion-select-option value="10">	    Bustamante, Nuevo León	</ion-select-option>
<ion-select-option value="11">	    Cadereyta de Montes, Querétaro	</ion-select-option>
<ion-select-option value="12">	    Calvillo, Aguascalientes	</ion-select-option>
<ion-select-option value="13">	    Candela, Coahuila	</ion-select-option>
<ion-select-option value="14">	    Capulálpam de Méndez, Oaxaca	</ion-select-option>
<ion-select-option value="15">	    Casas Grandes, Chihuahua	</ion-select-option>
<ion-select-option value="16">	    Chiapa de Corzo, Chiapas	</ion-select-option>
<ion-select-option value="17">	    Chignahuapan, Puebla	</ion-select-option>
<ion-select-option value="18">	    Cholula, Puebla	</ion-select-option>
<ion-select-option value="19">	    Coatepec, Veracruz	</ion-select-option>
<ion-select-option value="20">	    Comala, Colima	</ion-select-option>
<ion-select-option value="21">	    Comitán, Chiapas	</ion-select-option>
<ion-select-option value="22">	    Comonfort, Guanajuato	</ion-select-option>
<ion-select-option value="23">	    Compostela de Indias, Nayarit	</ion-select-option>
<ion-select-option value="24">	    Cosalá, Sinaloa	</ion-select-option>
<ion-select-option value="25">	    Coscomatepec, Veracruz	</ion-select-option>
<ion-select-option value="26">	    Creel, Chihuahua	</ion-select-option>
<ion-select-option value="27">	    Cuatro Ciénegas, Coahuila	</ion-select-option>
<ion-select-option value="28">	    Cuetzalan del Progreso, Puebla	</ion-select-option>
<ion-select-option value="29">	    Cuitzeo del Porvenir, Michoacán	</ion-select-option>
<ion-select-option value="30">	    Dolores Hidalgo, Guanajuato	</ion-select-option>
<ion-select-option value="31">	    El Oro, Estado de México	</ion-select-option>
<ion-select-option value="32">	    El Rosario, Sinaloa	</ion-select-option>
<ion-select-option value="33">	    El Fuerte, Sinaloa	</ion-select-option>
<ion-select-option value="34">	    Guadalupe, Zacatecas	</ion-select-option>
<ion-select-option value="35">	    Guerrero, Coahuila	</ion-select-option>
<ion-select-option value="36">	    Huamantla, Tlaxcala	</ion-select-option>
<ion-select-option value="37">	    Huasca de Ocampo, Hidalgo	</ion-select-option>
<ion-select-option value="38">	    Huauchinango, Puebla	</ion-select-option>
<ion-select-option value="39">	    Huautla de Jiménez, Oaxaca	</ion-select-option>
<ion-select-option value="40">	    Huichapan, Hidalgo	</ion-select-option>
<ion-select-option value="41">	    Isla Mujeres, Quintana Roo	</ion-select-option>
<ion-select-option value="42">	    Ixtapan de la Sal, Estado de México	</ion-select-option>
<ion-select-option value="43">	    Izamal, Yucatán	</ion-select-option>
<ion-select-option value="44">	    Jala, Nayarit	</ion-select-option>
<ion-select-option value="45">	    Jalpa de Cánovas, Guanajuato	</ion-select-option>
<ion-select-option value="46">	    Jalpan de Serra, Querétaro	</ion-select-option>
<ion-select-option value="48">	    Jiquilpan de Juárez, Michoacán	</ion-select-option>
<ion-select-option value="49">	    Lagos de Moreno, Jalisco	</ion-select-option>
<ion-select-option value="50">	    Linares, Nuevo León	</ion-select-option>
<ion-select-option value="51">	    Loreto, Baja California Sur	</ion-select-option>
<ion-select-option value="52">	    Magdalena de Kino, Sonora	</ion-select-option>
<ion-select-option value="53">	    Malinalco, Estado de México	</ion-select-option>
<ion-select-option value="54">	    Mapimí, Durango	</ion-select-option>
<ion-select-option value="55">	    Mascota, Jalisco	</ion-select-option>
<ion-select-option value="56">	    Mazamitla, Jalisco	</ion-select-option>
<ion-select-option value="57">	    Mazunte, Oaxaca	</ion-select-option>
<ion-select-option value="58">	    Melchor Múzquiz, Coahuila	</ion-select-option>
<ion-select-option value="59">	    Metepec, Estado de México	</ion-select-option>
<ion-select-option value="60">	    Mier, Tamaulipas	</ion-select-option>
<ion-select-option value="61">	    Mineral de Angangueo, Michoacán	</ion-select-option>
<ion-select-option value="62">	    Mineral de Pozos, Guanajuato	</ion-select-option>
<ion-select-option value="63">	    Mineral del Chico, Hidalgo	</ion-select-option>
<ion-select-option value="64">	    Mocorito, Sinaloa	</ion-select-option>
<ion-select-option value="65">	    Nombre de Dios, Durango	</ion-select-option>
<ion-select-option value="66">	    Nochistlán de Mejía, Zacatecas	</ion-select-option>
<ion-select-option value="67">	    Orizaba, Veracruz	</ion-select-option>
<ion-select-option value="68">	    Pahuatlán, Puebla	</ion-select-option>
<ion-select-option value="69">	    Palenque, Chiapas	</ion-select-option>
<ion-select-option value="70">	    Palizada, Campeche	</ion-select-option>
<ion-select-option value="71">	    Papantla, Veracruz	</ion-select-option>
<ion-select-option value="72">	    Parras de la Fuente, Coahuila	</ion-select-option>
<ion-select-option value="73">	    Pátzcuaro, Michoacán	</ion-select-option>
<ion-select-option value="74">	    Pinos, Zacatecas	</ion-select-option>
<ion-select-option value="75">	    Real de Asientos, Aguascalientes	</ion-select-option>
<ion-select-option value="76">	    Real de Catorce, San Luis Potosí	</ion-select-option>
<ion-select-option value="77">	    Real de Monte, Hidalgo	</ion-select-option>
<ion-select-option value="78">	    Salvatierra, Guanajuato	</ion-select-option>
<ion-select-option value="79">	    San Cristóbal de las Casas, Chiapas	</ion-select-option>
<ion-select-option value="80">	    San Joaquín, Querétaro	</ion-select-option>
<ion-select-option value="81">	    San José de Gracia, Aguascalientes	</ion-select-option>
<ion-select-option value="82">	    San Juan Teotihuacán y San Martín de las Pirámides, Edo de México	</ion-select-option>
<ion-select-option value="83">	    San Pablo Villa de Mitla, Oaxaca	</ion-select-option>
<ion-select-option value="84">	    San Pedro Tlaquepaque, Jalisco	</ion-select-option>
<ion-select-option value="85">	    San Pedro y San Pablo Teposcolula, Oaxaca	</ion-select-option>
<ion-select-option value="86">	    San Sebastián del Oeste, Jalisco	</ion-select-option>
<ion-select-option value="87">	    Santa Clara del Cobre, Michoacán	</ion-select-option>
<ion-select-option value="88">	    Santiago, Nuevo León	</ion-select-option>
<ion-select-option value="89">	    Sayulita, Nayarit	</ion-select-option>
<ion-select-option value="90">	    Sombrerete, Zacatecas	</ion-select-option>
<ion-select-option value="91">	    Tacámbaro, Michoacán	</ion-select-option>
<ion-select-option value="92">	    Talpa de Allende, Jalisco	</ion-select-option>
<ion-select-option value="93">	    Tapalpa, Jalisco	</ion-select-option>
<ion-select-option value="94">	    Tapijulapa, Tabasco	</ion-select-option>
<ion-select-option value="95">	    Taxco de Alarcón, Guerrero	</ion-select-option>
<ion-select-option value="96">	    Tecate, Baja California	</ion-select-option>
<ion-select-option value="97">	    Tecozautla, Hidalgo	</ion-select-option>
<ion-select-option value="98">	    Tepotzotlán, Estado de México	</ion-select-option>
<ion-select-option value="99">	    Tepoztlán, Morelos	</ion-select-option>
<ion-select-option value="100">	     Tequila, Jalisco	</ion-select-option>
<ion-select-option value="101">	     Tequisquiapan, Querétaro	</ion-select-option>
<ion-select-option value="102">	     Teúl de González Ortega, Zacatecas	</ion-select-option>
<ion-select-option value="103">	     Tlatlauquitepec, Puebla	</ion-select-option>
<ion-select-option value="104">	     Tlayacapan, Morelos	</ion-select-option>
<ion-select-option value="105">	     Tlalpujahua de Rayón, Michoacán	</ion-select-option>
<ion-select-option value="106">	     Tlaxco, Tlaxcala	</ion-select-option>
<ion-select-option value="107">	     Todos Santos, Baja California Sur	</ion-select-option>
<ion-select-option value="108">	     Tula, Tamaulipas	</ion-select-option>
<ion-select-option value="109">	     Tulum, Quintana Roo	</ion-select-option>
<ion-select-option value="110">	     Tzintzuntzan, Michoacán	</ion-select-option>
<ion-select-option value="111">	     Valladolid, Yucatán	</ion-select-option>
<ion-select-option value="112">	     Valle de Bravo, Estado de México	</ion-select-option>
<ion-select-option value="113">	     Viesca, Coahuila	</ion-select-option>
<ion-select-option value="114">	     Villa del Carbón, Estado de México	</ion-select-option>
<ion-select-option value="115">	     Xico, Veracruz	</ion-select-option>
<ion-select-option value="116">	     Xicotepec, Puebla	</ion-select-option>
<ion-select-option value="117">	     Xilitla, San Luis Potosí	</ion-select-option>
<ion-select-option value="118">	     Yuriria, Guanajuato	</ion-select-option>
<ion-select-option value="119">	     Zacatlán de las Manzanas, Puebla	</ion-select-option>
<ion-select-option value="120">	     Zimapán, Hidalgo	</ion-select-option>
<ion-select-option value="121">	     Zozocolco de Hidalgo, Veracruz	</ion-select-option>

  </ion-select>
</ion-item>



<ion-item>
  <ion-label>Foto:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-upload">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImage">
  </ion-avatar>
  <ion-label> Vista Previa de Foto de Perfil</ion-label>
</ion-item>


   
   <br>

    <ion-button [disabled]="formulario.invalid"  expand="block" (click)="loginUsuario()">Registrar</ion-button>

    
</form>




 
</ion-content>
