<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vistanegocios"></ion-back-button>
    </ion-buttons>
     <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list >
    <ion-item-sliding *ngFor="let Festival of datos" >
      
        <ion-card>
          <ion-card-header>
            <h1>{{Festival.Titulo}}</h1>
            <h2>{{Festival.Lugar}}</h2>
           
            <h1>{{Festival.Descripcion}}</h1>
          </ion-card-header>
          <ion-card-subtitle>
            <h2>Fecha: {{Festival.Fecha}}</h2>
            <h3>Por Parte de: {{Festival.Organizador}}</h3></ion-card-subtitle>
       </ion-card>

       <ion-button (click)="Amodificar(Festival)">Modificar</ion-button>
        <ion-button (click)="EliminarAnuncio(Festival.id)" >Eliminar</ion-button>
</ion-item-sliding>
  </ion-list>


</ion-content>
