



.fondo {
 
    --background: url(../../assets/portada.jpg) 0 0/100% 100% no-repeat;
   
   
    
   }
  
  
   ion-title.ion-text-center{
    color:black;
    font-size: 120px;
    text-align: center;
    size: "large";
    
   }
  