

<ion-content class="fondo" >


 
  <ion-title  class="ion-text-center"><h1>Iniciar Sesion </h1> </ion-title>
  
  <form #formulario="ngForm">
  <ion-item color="black">
      <ion-label  position="floating" color="primary"> Correo electrónico </ion-label>
      <ion-input type="text" [(ngModel)]="login.Email" name="Email" required="true" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>
    
    <ion-item color="black">
      <ion-label position="floating" color="primary"> Contraseña </ion-label>
      <ion-input [(ngModel)]="login.Pwd" type="password" name="Pwd" required="true"></ion-input>
    </ion-item>
   
   <br>

    <ion-button [disabled]="formulario.invalid"  expand="block" (click)="loginUsuario()">Iniciar Sesion</ion-button>
<ion-label color="primary">Si aun no tienes una cuenta entonces registrate</ion-label>
    <ion-button expand="block" fill="outline" routerLink="/registrarpueblerino">Registrarse</ion-button>
    
</form>




 
</ion-content>
