<ion-header>
  <ion-toolbar>
    <ion-title>{{argumento}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">


  <ion-grid>
      <ion-row>
      <ion-col>
           <ion-card color="primary" [routerLink]="['/registrarnegocio',argumento]">
            <ion-card-header>
              <ion-card-title>Registrar Negocio</ion-card-title>
         </ion-card-header>
               <ion-card-content>
                 <img src="../../assets/registranegocio.jpg"/>

               
              </ion-card-content>
             
           </ion-card>
       </ion-col>

       <ion-col>
        <ion-card color="primary" [routerLink]="['/registraranuncio',argumento]">
         <ion-card-header>
           <ion-card-title>Registrar Anuncio</ion-card-title>
      </ion-card-header>
            <ion-card-content>
              <img src="../../assets/registraoferta.jpg"/>
      </ion-card-content>
        </ion-card>
    </ion-col>

    
    </ion-row>

    <ion-row>
      <ion-col>
           <ion-card color="primary" [routerLink]="['/vistanegocios',argumento]">
            <ion-card-header>
              <ion-card-title>Tus Negocios Registrados</ion-card-title>
         </ion-card-header>
               <ion-card-content>
                 <img src="../../assets/negiciofisico.jpg"/>

               
              </ion-card-content>
             
           </ion-card>
       </ion-col>

       

    
    </ion-row>
 </ion-grid>

  


 <ion-fab vertical="bottom" horizontal="bottom" slot="fixed" [routerLink]="['/perfil',argumento]" >
   <ion-fab-button>
     <ion-icon name="person"></ion-icon>
   </ion-fab-button>
 </ion-fab>


</ion-content>

