<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="opcionmenu"></ion-back-button>
    </ion-buttons>
     <ion-title>Registrar Gastronomia</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="fondo">
  <form #formulario="ngForm">
        
    <ion-item>
      <ion-label>Nombre Restaurante</ion-label>
      <ion-input type="text" placeholder="Nombre del Restaurante" name="NombreGastronomia" [(ngModel)]="Gastronomia.NombreGastronomia" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion Restaurante</ion-label>
      <ion-input type="text" placeholder="Direccion del Restaurante" name="DireccionGastronomia" [(ngModel)]="Gastronomia.DireccionGastronomia" 
       required ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion" name="DescripcionGastronomia" [(ngModel)]="Gastronomia.DescripcionGastronomia" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo del Restaurante</ion-label>
      <ion-input type="text" placeholder="Correo del Restaurante" name="CorreoGastronomia" [(ngModel)]="Gastronomia.CorreoGastronomia" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono del Restaurante</ion-label>
      <ion-input type="text" placeholder="Numero Restaurante" name="NumeroGastronomia" [(ngModel)]="Gastronomia.NumeroGastronomia" 
       required ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Tiene Estacionamiento</ion-label>
      <ion-select name="EstacionamientoGastronomia" [(ngModel)]="Gastronomia.EstacionamientoGastronomia">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

   
    <ion-item>
      <ion-label>Acepta Niños</ion-label>
      <ion-select name="MenoresGastronomia" [(ngModel)]="Gastronomia.MenoresGastronomia">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>
 



    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-upload">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImage">
      </ion-avatar>

      <ion-label> Vista Previa</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploads">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageDos">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    










    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploadss">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenTres($event)" id="file-uploadss" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageTres">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    
  



<ion-button [disabled]="formulario.invalid"  (click)="AgregarGastronomia();  formulario.reset()" expand="block">Registrar</ion-button>
  </form >


</ion-content>