<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="opcionmenu"></ion-back-button>
    </ion-buttons>
     <ion-title>Registrar Servicio Mecanico</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="fondo">
  <form #formulario="ngForm">

    <ion-item>
      <ion-label>Tipo de Servicio</ion-label>
      <ion-select name="TipoServicioTaller" [(ngModel)]="Taller.TipoServicioTaller">
        <ion-select-option  value="Mecanico">Mecanico</ion-select-option>
        <ion-select-option value="Electrico">Electrico</ion-select-option>
        <ion-select-option value="Neumaticos">Neumaticos</ion-select-option>
      </ion-select>
    </ion-item>

   
    <ion-item>
      <ion-label>Nombre Taller</ion-label>
      <ion-input type="text" placeholder="Nombre Taller" name="NombreTaller" [(ngModel)]="Taller.NombreTaller" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion Taller</ion-label>
      <ion-input type="text" placeholder="Direccion del Taller" name="DireccionTaller" [(ngModel)]="Taller.DireccionTaller" 
       required ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion" name="DescripcionTaller" [(ngModel)]="Taller.DescripcionTaller" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo del Taller</ion-label>
      <ion-input type="text" placeholder="Correo del Taller" name="CorreoTaller" [(ngModel)]="Taller.CorreoTaller" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Numero de telefono del Taller</ion-label>
      <ion-input type="text" placeholder="Numero Taller" name="NumeroTaller" [(ngModel)]="Taller.NumeroTaller" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-upload">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImage">
      </ion-avatar>

      <ion-label> Vista Previa de Foto de Perfil</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploads">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageDos">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploadss">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenTres($event)" id="file-uploadss" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageTres">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
 
<ion-button      [disabled]="formulario.invalid"  (click)="AgregarTaller();  formulario.reset()" expand="block">Registrar</ion-button>
  </form >
</ion-content>
