<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vistanegocios"></ion-back-button>
    </ion-buttons>
     <ion-title>Gastronomia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list >
    <h1>Negocios de Gastronimia Registrados</h1>
    <ion-item-sliding *ngFor="let Gastronomia of datos" >
      <ion-card>
        <ion-card-header>
          <h1> {{Gastronomia.NombreGastronomia}}</h1>
         </ion-card-header>
        <ion-card-content>
          <h2> {{Gastronomia.DescripcionGastronomia}}</h2>
          <h2><p>Nos ubicamos en: {{Gastronomia.DireccionGastronomia}}</p></h2>
          <h2><p>Contactanos: {{Gastronomia.CorreoGastronomia}}</p></h2>
          <h2><p> {{Gastronomia.NumeroGastronomia}}</p></h2>

          <h1>Estacionamiento: </h1>
          <h2><p> {{Gastronomia.EstacionamientoGastronomia}}</p></h2>
          <h1>Aceptamos Niños: </h1>
          <h2><p> {{Gastronomia.MenoresGastronomia}}</p></h2>
        </ion-card-content>
      </ion-card>


     
     <ion-slides > 
 
      <ion-slide> <ion-card size="5">
        <ion-card-content>
          <ion-img [src]=Gastronomia.ImagenUno ></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>
      <ion-slide> <ion-card>
        <ion-card-content>
          <ion-img [src]=Gastronomia.ImagenDos ></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>

      <ion-slide> <ion-card>
        <ion-card-content>
          <ion-img [src]=Gastronomia.ImagenTres></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>
</ion-slides>
</ion-item-sliding>
  </ion-list>

  <h1>Anuncios Registrados</h1>
<ion-list >
  <ion-item-sliding *ngFor="let Anuncio of obtenidos" >
    
      <ion-card>
        <ion-card-header>
          
          <h1>{{Anuncio.titulo}}</h1>
          <h1>{{Anuncio.DescripcionOferta}}</h1>
        </ion-card-header>
        <ion-card-subtitle>
          <h2>Precio: {{Anuncio.Precio}}</h2>
          <h3>Por Parte de: {{Anuncio.Negocio}}</h3></ion-card-subtitle>
     </ion-card>
        <ion-button (click)="Amodificar(Anuncio)">Modificar</ion-button>
        <ion-button (click)="EliminarAnuncio(Anuncio.id)" >Eliminar</ion-button>


        <ion-slides > 
 
          <ion-slide> <ion-card size="5">
            <ion-card-content>
              <ion-img [src]=Anuncio.ImagenUno ></ion-img>
            </ion-card-content>
          </ion-card></ion-slide>
          <ion-slide> <ion-card>
            <ion-card-content>
              <ion-img [src]=Anuncio.ImagenDos ></ion-img>
            </ion-card-content>
          </ion-card></ion-slide>
    
          <ion-slide> <ion-card>
            <ion-card-content>
              <ion-img [src]=Anuncio.ImagenTres></ion-img>
            </ion-card-content>
          </ion-card></ion-slide>
    </ion-slides>

</ion-item-sliding>
</ion-list>

</ion-content>
