<ion-header class="ion-no-border">
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
     <ion-title>Registrar Festival</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <form #formulario="ngForm">
    
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" placeholder="Titulo" name="Titulo" [(ngModel)]="Festival.Titulo" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion" name="Descripcion" [(ngModel)]="Festival.Descripcion" 
       required ></ion-input>
    </ion-item>
    

    <ion-item>
  <ion-label>Fecha: </ion-label>
  <ion-input type="date" placeholder="Fecha" name="Fecha" [(ngModel)]="Festival.Fecha" 
 required ></ion-input>
</ion-item>


<ion-item>
  <ion-label>Pueblo Magico</ion-label>
  <ion-select name="Lugar" [(ngModel)]="Festival.Lugar">
    <ion-select-option value="Aculco, Estado de México">	   Aculco, Estado de México	</ion-select-option>
<ion-select-option value="Álamos, Sonora">	   Álamos, Sonora	</ion-select-option>
<ion-select-option value="Amealco de Bonfil, Querétaro">	   Amealco de Bonfil, Querétaro	</ion-select-option>
<ion-select-option value="Aquismón, San Luis Potosí">	   Aquismón, San Luis Potosí	</ion-select-option>
<ion-select-option value="Arteaga, Coahuila">	   Arteaga, Coahuila	</ion-select-option>
<ion-select-option value="Atlixco, Puebla">	   Atlixco, Puebla	</ion-select-option>
<ion-select-option value="Bacalar, Quintana Roo">	   Bacalar, Quintana Roo	</ion-select-option>
<ion-select-option value="Batopilas, Chihuahua">	   Batopilas, Chihuahua	</ion-select-option>
<ion-select-option value="Bernal, Querétaro">	   Bernal, Querétaro	</ion-select-option>
<ion-select-option value="Bustamante, Nuevo León">	    Bustamante, Nuevo León	</ion-select-option>
<ion-select-option value="Cadereyta de Montes, Querétaro">	    Cadereyta de Montes, Querétaro	</ion-select-option>
<ion-select-option value="Calvillo, Aguascalientes">	    Calvillo, Aguascalientes	</ion-select-option>
<ion-select-option value=" Candela, Coahuila">	    Candela, Coahuila	</ion-select-option>
<ion-select-option value="Capulálpam de Méndez, Oaxaca">	    Capulálpam de Méndez, Oaxaca	</ion-select-option>
<ion-select-option value="Casas Grandes, Chihuahua">	    Casas Grandes, Chihuahua	</ion-select-option>
<ion-select-option value="Chiapa de Corzo, Chiapas">	    Chiapa de Corzo, Chiapas	</ion-select-option>
<ion-select-option value="Chignahuapan, Puebla">	    Chignahuapan, Puebla	</ion-select-option>
<ion-select-option value="Cholula, Puebla">	    Cholula, Puebla	</ion-select-option>
<ion-select-option value="Coatepec, Veracruz">	    Coatepec, Veracruz	</ion-select-option>
<ion-select-option value="Comala, Colima">	    Comala, Colima	</ion-select-option>
<ion-select-option value="Comitán, Chiapas">	    Comitán, Chiapas	</ion-select-option>
<ion-select-option value="Comonfort, Guanajuato">	    Comonfort, Guanajuato	</ion-select-option>
<ion-select-option value="Compostela de Indias, Nayarit">	    Compostela de Indias, Nayarit	</ion-select-option>
<ion-select-option value="Cosalá, Sinaloa">	    Cosalá, Sinaloa	</ion-select-option>
<ion-select-option value="Coscomatepec, Veracruz">	    Coscomatepec, Veracruz	</ion-select-option>
<ion-select-option value="Creel, Chihuahua">	    Creel, Chihuahua	</ion-select-option>
<ion-select-option value="Cuatro Ciénegas, Coahuila">	    Cuatro Ciénegas, Coahuila	</ion-select-option>
<ion-select-option value="Cuetzalan del Progreso, Puebla">	    Cuetzalan del Progreso, Puebla	</ion-select-option>
<ion-select-option value="Cuitzeo del Porvenir, Michoacán">	    Cuitzeo del Porvenir, Michoacán	</ion-select-option>
<ion-select-option value="Dolores Hidalgo, Guanajuato">	    Dolores Hidalgo, Guanajuato	</ion-select-option>
<ion-select-option value="El Oro, Estado de México">	    El Oro, Estado de México	</ion-select-option>
<ion-select-option value="El Rosario, Sinaloa">	    El Rosario, Sinaloa	</ion-select-option>
<ion-select-option value="El Fuerte, Sinaloa">	    El Fuerte, Sinaloa	</ion-select-option>
<ion-select-option value="Guadalupe, Zacatecas">	    Guadalupe, Zacatecas	</ion-select-option>
<ion-select-option value="Guerrero, Coahuila">	    Guerrero, Coahuila	</ion-select-option>
<ion-select-option value="Huamantla, Tlaxcala">	    Huamantla, Tlaxcala	</ion-select-option>
<ion-select-option value="Huasca de Ocampo, Hidalgo">	    Huasca de Ocampo, Hidalgo	</ion-select-option>
<ion-select-option value="Huauchinango, Puebla">	    Huauchinango, Puebla	</ion-select-option>
<ion-select-option value="Huautla de Jiménez, Oaxaca">	    Huautla de Jiménez, Oaxaca	</ion-select-option>
<ion-select-option value="Huichapan, Hidalgo">	    Huichapan, Hidalgo	</ion-select-option>
<ion-select-option value="Isla Mujeres, Quintana Roo">	    Isla Mujeres, Quintana Roo	</ion-select-option>
<ion-select-option value="Ixtapan de la Sal, Estado de México">	    Ixtapan de la Sal, Estado de México	</ion-select-option>
<ion-select-option value="Izamal, Yucatán">	    Izamal, Yucatán	</ion-select-option>
<ion-select-option value="Jala, Nayarit">	    Jala, Nayarit	</ion-select-option>
<ion-select-option value="Jalpa de Cánovas, Guanajuato">	    Jalpa de Cánovas, Guanajuato	</ion-select-option>
<ion-select-option value="Jalpan de Serra, Querétaro">	    Jalpan de Serra, Querétaro	</ion-select-option>
<ion-select-option value="Jiquilpan de Juárez, Michoacán">	    Jiquilpan de Juárez, Michoacán	</ion-select-option>
<ion-select-option value="Lagos de Moreno, Jalisco">	    Lagos de Moreno, Jalisco	</ion-select-option>
<ion-select-option value="Linares, Nuevo León">	    Linares, Nuevo León	</ion-select-option>
<ion-select-option value="Loreto, Baja California Sur">	    Loreto, Baja California Sur	</ion-select-option>
<ion-select-option value="Magdalena de Kino, Sonora">	    Magdalena de Kino, Sonora	</ion-select-option>
<ion-select-option value="Malinalco, Estado de México">	    Malinalco, Estado de México	</ion-select-option>
<ion-select-option value="Mapimí, Durango">	    Mapimí, Durango	</ion-select-option>
<ion-select-option value="Mascota, Jalisco">	    Mascota, Jalisco	</ion-select-option>
<ion-select-option value="Mazamitla, Jalisco">	    Mazamitla, Jalisco	</ion-select-option>
<ion-select-option value="Mazunte, Oaxaca">	    Mazunte, Oaxaca	</ion-select-option>
<ion-select-option value="Melchor Múzquiz, Coahuila">	    Melchor Múzquiz, Coahuila	</ion-select-option>
<ion-select-option value="Metepec, Estado de México">	    Metepec, Estado de México	</ion-select-option>
<ion-select-option value="Mier, Tamaulipas">	    Mier, Tamaulipas	</ion-select-option>
<ion-select-option value="Mineral de Angangueo, Michoacán">	    Mineral de Angangueo, Michoacán	</ion-select-option>
<ion-select-option value="Mineral de Pozos, Guanajuato">	    Mineral de Pozos, Guanajuato	</ion-select-option>
<ion-select-option value="Mineral del Chico, Hidalgo">	    Mineral del Chico, Hidalgo	</ion-select-option>
<ion-select-option value="Mocorito, Sinaloa">	    Mocorito, Sinaloa	</ion-select-option>
<ion-select-option value="Nombre de Dios, Durango">	    Nombre de Dios, Durango	</ion-select-option>
<ion-select-option value="Nochistlán de Mejía, Zacatecas">	    Nochistlán de Mejía, Zacatecas	</ion-select-option>
<ion-select-option value="Orizaba, Veracruz">	    Orizaba, Veracruz	</ion-select-option>
<ion-select-option value="Pahuatlán, Puebla">	    Pahuatlán, Puebla	</ion-select-option>
<ion-select-option value="Palenque, Chiapas">	    Palenque, Chiapas	</ion-select-option>
<ion-select-option value="Palizada, Campeche">	    Palizada, Campeche	</ion-select-option>
<ion-select-option value="Papantla, Veracruz">	    Papantla, Veracruz	</ion-select-option>
<ion-select-option value="Parras de la Fuente, Coahuila">	    Parras de la Fuente, Coahuila	</ion-select-option>
<ion-select-option value="Pátzcuaro, Michoacán">	    Pátzcuaro, Michoacán	</ion-select-option>
<ion-select-option value="Pinos, Zacatecas">	    Pinos, Zacatecas	</ion-select-option>
<ion-select-option value="Real de Asientos, Aguascalientes">	    Real de Asientos, Aguascalientes	</ion-select-option>
<ion-select-option value="Real de Catorce, San Luis Potosí">	    Real de Catorce, San Luis Potosí	</ion-select-option>
<ion-select-option value="Real de Monte, Hidalgo">	    Real de Monte, Hidalgo	</ion-select-option>
<ion-select-option value="Salvatierra, Guanajuato">	    Salvatierra, Guanajuato	</ion-select-option>
<ion-select-option value="San Cristóbal de las Casas, Chiapas">	    San Cristóbal de las Casas, Chiapas	</ion-select-option>
<ion-select-option value="San Joaquín, Querétaro">	    San Joaquín, Querétaro	</ion-select-option>
<ion-select-option value="San José de Gracia, Aguascalientes">	    San José de Gracia, Aguascalientes	</ion-select-option>
<ion-select-option value="San Juan Teotihuacán y San Martín de las Pirámides, Edo de México">	    San Juan Teotihuacán y San Martín de las Pirámides, Edo de México	</ion-select-option>
<ion-select-option value="San Pablo Villa de Mitla, Oaxaca">	    San Pablo Villa de Mitla, Oaxaca	</ion-select-option>
<ion-select-option value="San Pedro Tlaquepaque, Jalisco">	    San Pedro Tlaquepaque, Jalisco	</ion-select-option>
<ion-select-option value="San Pedro y San Pablo Teposcolula, Oaxaca">	    San Pedro y San Pablo Teposcolula, Oaxaca	</ion-select-option>
<ion-select-option value="San Sebastián del Oeste, Jalisco">	    San Sebastián del Oeste, Jalisco	</ion-select-option>
<ion-select-option value="Santa Clara del Cobre, Michoacán">	    Santa Clara del Cobre, Michoacán	</ion-select-option>
<ion-select-option value=" Santiago, Nuevo León">	    Santiago, Nuevo León	</ion-select-option>
<ion-select-option value="Sayulita, Nayarit">	    Sayulita, Nayarit	</ion-select-option>
<ion-select-option value="Sombrerete, Zacatecas">	    Sombrerete, Zacatecas	</ion-select-option>
<ion-select-option value="Tacámbaro, Michoacán">	    Tacámbaro, Michoacán	</ion-select-option>
<ion-select-option value="Talpa de Allende, Jalisco">	    Talpa de Allende, Jalisco	</ion-select-option>
<ion-select-option value="Tapalpa, Jalisco">	    Tapalpa, Jalisco	</ion-select-option>
<ion-select-option value="Tapijulapa, Tabasco">	    Tapijulapa, Tabasco	</ion-select-option>
<ion-select-option value="Taxco de Alarcón, Guerrero">	    Taxco de Alarcón, Guerrero	</ion-select-option>
<ion-select-option value="Tecate, Baja California">	    Tecate, Baja California	</ion-select-option>
<ion-select-option value="Tecozautla, Hidalgo">	    Tecozautla, Hidalgo	</ion-select-option>
<ion-select-option value="Tepotzotlán, Estado de México">	    Tepotzotlán, Estado de México	</ion-select-option>
<ion-select-option value="Tepoztlán, Morelos">	    Tepoztlán, Morelos	</ion-select-option>
<ion-select-option value="Tequila, Jalisco">	     Tequila, Jalisco	</ion-select-option>
<ion-select-option value="Tequisquiapan, Querétaro">	     Tequisquiapan, Querétaro	</ion-select-option>
<ion-select-option value="Teúl de González Ortega, Zacatecas">	     Teúl de González Ortega, Zacatecas	</ion-select-option>
<ion-select-option value="Tlatlauquitepec, Puebla">	     Tlatlauquitepec, Puebla	</ion-select-option>
<ion-select-option value="Tlayacapan, Morelos">	     Tlayacapan, Morelos	</ion-select-option>
<ion-select-option value="Tlalpujahua de Rayón, Michoacán">	     Tlalpujahua de Rayón, Michoacán	</ion-select-option>
<ion-select-option value="Tlaxco, Tlaxcala">	     Tlaxco, Tlaxcala	</ion-select-option>
<ion-select-option value="Todos Santos, Baja California Sur">	     Todos Santos, Baja California Sur	</ion-select-option>
<ion-select-option value="Tula, Tamaulipas">	     Tula, Tamaulipas	</ion-select-option>
<ion-select-option value="Tulum, Quintana Roo">	     Tulum, Quintana Roo	</ion-select-option>
<ion-select-option value="Tzintzuntzan, Michoacán">	     Tzintzuntzan, Michoacán	</ion-select-option>
<ion-select-option value="Valladolid, Yucatán">	     Valladolid, Yucatán	</ion-select-option>
<ion-select-option value=" Valle de Bravo, Estado de México">	     Valle de Bravo, Estado de México	</ion-select-option>
<ion-select-option value="Viesca, Coahuila">	     Viesca, Coahuila	</ion-select-option>
<ion-select-option value="Villa del Carbón, Estado de México">	     Villa del Carbón, Estado de México	</ion-select-option>
<ion-select-option value="Xico, Veracruz">	     Xico, Veracruz	</ion-select-option>
<ion-select-option value="Xicotepec, Puebla">	     Xicotepec, Puebla	</ion-select-option>
<ion-select-option value="Xilitla, San Luis Potosí">	     Xilitla, San Luis Potosí	</ion-select-option>
<ion-select-option value="Yuriria, Guanajuato">	     Yuriria, Guanajuato	</ion-select-option>
<ion-select-option value="Zacatlán de las Manzanas, Puebla">	     Zacatlán de las Manzanas, Puebla	</ion-select-option>
<ion-select-option value="Zimapán, Hidalgo">	     Zimapán, Hidalgo	</ion-select-option>
<ion-select-option value="Zozocolco de Hidalgo, Veracruz">	     Zozocolco de Hidalgo, Veracruz	</ion-select-option>

  </ion-select>

</ion-item>


<ion-item>
  <ion-label>Organizador: </ion-label>
  <ion-input type="text" placeholder="Organizador" name="Organizador" [(ngModel)]="Festival.Organizador" 
   required ></ion-input>
</ion-item>



<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-upload">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImage">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>

<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-uploads">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImageDos">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>

<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-uploadss">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagenTres($event)" id="file-uploadss" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImageTres">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>

<ion-button [disabled]="formulario.invalid"  expand="block" (click)="AgregarFestival(); formulario.reset()">Registrar</ion-button>
  </form >


</ion-content>

