<ion-header>
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vistanegocios"></ion-back-button>
    </ion-buttons>
     <ion-title>Artesanias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list >
    <ion-item-sliding *ngFor="let Artesanias of datos" >
      <ion-card>
        <ion-card-header>
          <h1> {{Artesanias.NombreArtesanias}}</h1>
         </ion-card-header>
        <ion-card-content>
          <h2> {{Artesanias.DescripcionArtesanias}}</h2>
          <h2><p>Nos ubicamos en: {{Artesanias.DireccionArtesanias}}</p></h2>
          <h2><p>Contactanos: {{Artesanias.CorreoArtesanias}}</p></h2>
          <h2><p> {{Artesanias.NumeroArtesanias}}</p></h2>

          
        </ion-card-content>
      </ion-card>

      
     <ion-slides > 
 
      <ion-slide> <ion-card size="5">
        <ion-card-content>
          <ion-img [src]=Artesanias.ImagenUno ></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>
      <ion-slide> <ion-card>
        <ion-card-content>
          <ion-img [src]=Artesanias.ImagenDos ></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>

      <ion-slide> <ion-card>
        <ion-card-content>
          <ion-img [src]=Artesanias.ImagenTres></ion-img>
        </ion-card-content>
      </ion-card></ion-slide>
</ion-slides>
</ion-item-sliding>
  </ion-list>

  <h1>Anuncios Registrados</h1>
  <ion-list >
    <ion-item-sliding *ngFor="let Anuncio of obtenidos" >
      
        <ion-card>
          <ion-card-header>
            
            <h1>{{Anuncio.titulo}}</h1>
            <h1>{{Anuncio.DescripcionOferta}}</h1>
          </ion-card-header>
          <ion-card-subtitle>
            <h2>Precio: {{Anuncio.Precio}}</h2>
            <h3>Por Parte de: {{Anuncio.Negocio}}</h3></ion-card-subtitle>
       </ion-card>
          <ion-button (click)="Amodificar(Anuncio)">Modificar</ion-button>
          <ion-button (click)="EliminarAnuncio(Anuncio.id)" >Eliminar</ion-button>
  
          <ion-slides > 
 
            <ion-slide> <ion-card size="5">
              <ion-card-content>
                <ion-img [src]=Anuncio.ImagenUno ></ion-img>
              </ion-card-content>
            </ion-card></ion-slide>
            <ion-slide> <ion-card>
              <ion-card-content>
                <ion-img [src]=Anuncio.ImagenDos ></ion-img>
              </ion-card-content>
            </ion-card></ion-slide>
      
            <ion-slide> <ion-card>
              <ion-card-content>
                <ion-img [src]=Anuncio.ImagenTres></ion-img>
              </ion-card-content>
            </ion-card></ion-slide>
      </ion-slides>
  </ion-item-sliding>
  </ion-list>
  
  </ion-content>
  