<ion-header class="ion-no-border">
  <ion-toolbar>
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
     <ion-title>Registrar Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <form #formulario="ngForm">
    
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion Oferta" name="DescripcionOferta" [(ngModel)]="anuncio.DescripcionOferta" 
       required ></ion-input>
    </ion-item>
    

    <ion-item>
  <ion-label>Precio: </ion-label>
  <ion-input type="number" placeholder="Precio" name="Precio" [(ngModel)]="anuncio.Precio" 
 required ></ion-input>
</ion-item>


<ion-item>
  <ion-label>Categoria</ion-label>
  <ion-select name="Categoria" [(ngModel)]="anuncio.Categoria">
    <ion-select-option  value="Gastronomia">Gastronomia</ion-select-option>
    <ion-select-option value="Mecanico">Mecanico</ion-select-option>
    <ion-select-option value="Hospedaje">Hospedaje</ion-select-option>
    <ion-select-option value="Artesanias">Artesanias</ion-select-option>
    <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label>Nombre del Negocio: </ion-label>
  <ion-input type="text" placeholder="Nombre Negocio" name="Negocio" [(ngModel)]="anuncio.Negocio" 
   required ></ion-input>
</ion-item>



<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-upload">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImage">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>

<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-uploads">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImageDos">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>


<ion-item>
  <ion-label>Imagen:</ion-label>
  <ion-buttons slot="end">
    <ion-button [disabled]="formulario.invalid">
      <label for="file-uploadss">
        <ion-icon slot="start" name="image" ></ion-icon>
      </label>
  
      <input  (change)="SubirImagenTres($event)" id="file-uploadss" style="display: none;" type="file" accept="image/*">
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img [src]="newImageTres">
  </ion-avatar>

  <ion-label> Vista Previa </ion-label>
</ion-item>




 


<ion-button [disabled]="formulario.invalid"  expand="block" (click)="AgregarAnuncio(); formulario.reset()">Registrar</ion-button>
  </form >


</ion-content>

