<ion-header>
  <ion-toolbar color="transparent">
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="opcionmenu"></ion-back-button>
    </ion-buttons>
     <ion-title>Registrar Hotel</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="fondo">
  <form #formulario="ngForm" >
    
    <ion-item >
      <ion-label>Nombre Hotel</ion-label>
      <ion-input type="text" placeholder="Nombre Hotel" name="NombreHotel" [(ngModel)]="Hotel.NombreHotel" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Direccion Hotel</ion-label>
      <ion-input type="text" placeholder="Direccion del Hotel" name="DireccionHotel" [(ngModel)]="Hotel.DireccionHotel" 
       required ></ion-input>
    </ion-item>

    
    <ion-item >
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion" name="DescripcionHotel" [(ngModel)]="Hotel.DescripcionHotel" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Correo del Hotel</ion-label>
      <ion-input type="text" placeholder="Correo del Hotel" name="CorreoHotel" [(ngModel)]="Hotel.CorreoHotel" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Numero de telefono del Hotel</ion-label>
      <ion-input type="text" placeholder="Numero Hotel" name="NumeroHotel" [(ngModel)]="Hotel.NumeroHotel" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Tiene Restaurante</ion-label>
      <ion-select name="RestauranteHotel" [(ngModel)]="Hotel.RestauranteHotel">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label>Tiene Estacionamiento</ion-label>
      <ion-select name="EstacionamientoHotel" [(ngModel)]="Hotel.EstacionamientoHotel">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label>Acepta Mascotas</ion-label>
      <ion-select name="MascotasHotel" [(ngModel)]="Hotel.MascotasHotel">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label>Acepta Niños</ion-label>
      <ion-select name="MenoresHotel" [(ngModel)]="Hotel.MenoresHotel">
        <ion-select-option  value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label>Diversidad Aceptada</ion-label>
      <ion-select name="DiversidadHotel" [(ngModel)]="Hotel.DiversidadHotel">
        <ion-select-option  value="Hetero">Hetero</ion-select-option>
        <ion-select-option value="LGBT">LGBT</ion-select-option>
        <ion-select-option value="Ambas">Ambas</ion-select-option>
      </ion-select>
    </ion-item>
    
   


    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-upload">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImage">
      </ion-avatar>

      <ion-label> Vista Previa de Foto de Perfil</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploads">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageDos">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    
