<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="opcionmenu"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Tienda</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="fondo">
  <br><br><br><br>
  <form #formulario="ngForm" >
    
    <ion-item >
      <ion-label>Nombre del Local</ion-label>
      <ion-input type="text" placeholder="Nombre del Local" name="NombreTienda" [(ngModel)]="Tienda.NombreTienda" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Direccion Local</ion-label>
      <ion-input type="text" placeholder="Direccion del Local" name="DireccionTienda" [(ngModel)]="Tienda.DireccionTienda" 
       required ></ion-input>
    </ion-item>

    
    <ion-item >
      <ion-label>Descripcion</ion-label>
      <ion-input type="text" placeholder="Descripcion de lo que vende" name="DescripcionTienda" [(ngModel)]="Tienda.DescripcionTienda" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Correo del Local</ion-label>
      <ion-input type="text" placeholder="Correo del Local" name="CorreoTienda" [(ngModel)]="Tienda.CorreoTienda" 
       required ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Numero del Local</ion-label>
      <ion-input type="text" placeholder="Numero del Local" name="NumeroTienda" [(ngModel)]="Tienda.NumeroTienda" 
       required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-upload">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagen($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImage">
      </ion-avatar>

      <ion-label> Vista Previa de Foto de Perfil</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploads">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenDos($event)" id="file-uploads" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageDos">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="formulario.invalid">
          <label for="file-uploadss">
            <ion-icon slot="start" name="image" ></ion-icon>
          </label>
      
          <input  (change)="SubirImagenTres($event)" id="file-uploadss" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newImageTres">
      </ion-avatar>

      <ion-label> Vista Previa </ion-label>
    </ion-item>
    
  
<ion-button [disabled]="formulario.invalid"  (click)="AgregarTienda();  formulario.reset()" expand="block">Registrar</ion-button>
  </form >


</ion-content>

