<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="opcionmenu"></ion-back-button>
    </ion-buttons>
    <ion-title>Elegir Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-grid>
    <ion-row>
    <ion-col>
         <ion-card color="primary" [routerLink]="['/registragastronomia',argumento]">
          <ion-card-header>
            <ion-card-title>Gastronomia</ion-card-title>
       </ion-card-header>
             <ion-card-content>
               aqui puedes registrar tu restaurante, fonda, o puesto movil
               <img src="../../assets/gastronimia.jpg"/>

             
            </ion-card-content>
           
         </ion-card>     

     
      <ion-card color="primary" [routerLink]="['/registrahospedaje',argumento]">
       <ion-card-header>
         <ion-card-title>Hospedaje</ion-card-title>
    </ion-card-header>
          <ion-card-content>
            aqui puedes registrar tu hotel, cabaña u otro servicio de hospedaje.
            <img src="../../assets/hospedaje.jpeg">

            
         </ion-card-content>
        
      </ion-card>
  
   <ion-card color="primary" [routerLink]="['/registraabarrotes',argumento]">
        <ion-card-header>
          <ion-card-title>Abarrotes</ion-card-title>
     </ion-card-header>
           <ion-card-content>
             Aqui puedes registrar tu tienda.
             <img src="../../assets/abarrotes.jpeg"/>

           
          </ion-card-content>
         
       </ion-card>

       <ion-card color="primary" [routerLink]="['/registraartesanias',argumento]">
        <ion-card-header>
          <ion-card-title>Artesanias</ion-card-title>
     </ion-card-header>
           <ion-card-content>
             Aqui puedes registrar tu local de venta de productos artesanales, Por ejemplo los "recuerditos"
             <img src="../../assets/artesanias.jpg"/>
   
             
          </ion-card-content>
         
       </ion-card>
 
       <ion-card color="primary" [routerLink]="['/registramecanico',argumento]">
        <ion-card-header>
          <ion-card-title>Servicios Mecanicos</ion-card-title>
     </ion-card-header>
           <ion-card-content>
             Puedes registrarte aqui si das servicios de mecanico, electrico o de Vulcanizadora
             <img src="../../assets/serviciomecanico.jpg">

           
          </ion-card-content>
         
       </ion-card>
       <ion-card color="primary" [routerLink]="['/registraevento',argumento]">
        <ion-card-header>
          <ion-card-title>Eventos</ion-card-title>
     </ion-card-header>
           <ion-card-content>
            si organizas festivales, eventos, tianguis ,etc registralo aqui
             <img src="../../assets/eventos.jpg">

           
          </ion-card-content>
         
       </ion-card>
 
   
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
